/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

body {
    margin: 15px 30px;
}

h1 {
    color: black;
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

p {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}